
AddType font/ttf .ttf 
AddType font/eot .eot 
AddType font/otf .otf 
AddType font/woff .woff 
<FilesMatch "\.(ttf|otf|eot|woff)$">
    <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin "*"
    </IfModule>
</FilesMatch>



<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /wordpressbootcamp/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . /wordpressbootcamp/index.php [L]

#Market
RewriteRule ^favicon.ico$ favicon.ico [L]
RewriteRule ^market/?$												/market/index.php? [L]
RewriteRule ^market/recuperar-senha?$								/index.php?categoria=site&module=market&do=recuperarSenha&{QUERY_STRING} [L]
RewriteRule ^market/([^/]+)/([^/]+)/([^/]+)/?$						/market/index.php?categoria=$1&module=$2&do=$3&{QUERY_STRING} [L]
RewriteRule ^market/([^/]+)/([^/]+)/([^/]+)/([0-9]+)/?$				/market/index.php?categoria=$1&module=$2&do=$3&id=$4&{QUERY_STRING} [L]

#Portal
RewriteRule ^([^market][^/]+)/([^/]+)/([^/]+)/?$					/index.php?categoria=site&module=$1&do=$2&id=$3&{QUERY_STRING} 
RewriteRule ^([^market][^/]+)/([^/]+)/?$							/index.php?categoria=site&module=$1&do=$2&{QUERY_STRING} 
RewriteRule ^([^market][^/]+)/?$									/index.php?categoria=site&module=$1&do=index&{QUERY_STRING} 
RewriteRule ^/?$													/index.php?categoria=site&module=home&do=index&{QUERY_STRING} 



</IfModule>