
AddType font/ttf .ttf 
AddType font/eot .eot 
AddType font/otf .otf 
AddType font/woff .woff 
<FilesMatch "\.(ttf|otf|eot|woff)$">
    <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin "*"
    </IfModule>
</FilesMatch>



<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /wordpressbootcamp/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . /wordpressbootcamp/index.php [L]

#Market
RewriteRule ^favicon.ico$ favicon.ico [L]
RewriteRule ^market/?$												/market/index.php? [L]
RewriteRule ^market/recuperar-senha?$								/index.php?categoria=site&module=market&do=recuperarSenha&{QUERY_STRING} [L]
RewriteRule ^market/([^/]+)/([^/]+)/([^/]+)/?$						/market/index.php?categoria=$1&module=$2&do=$3&{QUERY_STRING} [L]
RewriteRule ^market/([^/]+)/([^/]+)/([^/]+)/([0-9]+)/?$				/market/index.php?categoria=$1&module=$2&do=$3&id=$4&{QUERY_STRING} [L]

#nasp
RewriteRule ^nasp/([^/]+)/pagseguro.php?$							/market/nasp/pagseguro.php?cod_empresa=$1
RewriteRule ^nasp/([^/]+)/pagarme.php?$								/market/nasp/pagarme.php?cod_empresa=$1


#site
RewriteRule ^/?$													/index.php?categoria=site&module=$1&do=$2&{QUERY_STRING}
RewriteRule ^site/?$											    /index.php?categoria=site&module=home&do=site&{QUERY_STRING}
RewriteRule ^professor/index/?$										/index.php?categoria=site&module=professor&do=index&{QUERY_STRING}
RewriteRule ^instituicao/index/?$									/index.php?categoria=site&module=instituicao&do=index&{QUERY_STRING}
RewriteRule ^sobre/index/?$											/index.php?categoria=site&module=sobre&do=index&{QUERY_STRING}
RewriteRule ^clientes/index/?$										/index.php?categoria=site&module=clientes&do=index&{QUERY_STRING}
RewriteRule ^blog/index/?$											/index.php?categoria=site&module=blog&do=index&{QUERY_STRING}
RewriteRule ^contato/index/?$										/index.php?categoria=site&module=contato&do=index&{QUERY_STRING}


#Portal
RewriteRule ^([^/]+)/?$												/index.php?cliente=$1&categoria=portal&module=home&do=index&{QUERY_STRING}
RewriteRule ^([^/]+)/portal/?$										/index.php?cliente=$1&categoria=portal&module=home&do=index&{QUERY_STRING}
RewriteRule ^([^/]+)/portal/([^/]+)/?$								/index.php?cliente=$1&categoria=portal&module=$2&{QUERY_STRING}
RewriteRule ^([^/]+)/portal/([^/]+)/([^/]+)/?$						/index.php?cliente=$1&categoria=portal&module=$2&do=$3&{QUERY_STRING}
RewriteRule ^([^/]+)/portal/([^/]+)/([^/]+)/([^/]+)/?$				/index.php?cliente=$1&categoria=portal&module=$2&do=$3&parametro=$4&{QUERY_STRING}
</IfModule>
