<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.webServer>
		<staticContent> 
			<mimeMap fileExtension=".json" mimeType="application/json" /> 
			<remove fileExtension=".eot" />
		    <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
		    <remove fileExtension=".ttf" />
		    <mimeMap fileExtension=".ttf" mimeType="font/ttf" />
		    <remove fileExtension=".otf" />
		    <mimeMap fileExtension=".otf" mimeType="font/otf" />
		    <remove fileExtension=".woff" />
		    <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
		</staticContent>
		<rewrite>
			<rules>
				<!-- Market -->
				<rule name="rule 2Z" stopProcessing="true">
					<match url="^market/([^/]+)/([^/]+)/([^/]+)/?$"  />
					<action type="Rewrite" url="/market/index.php?categoria={R:1}&amp;module={R:2}&amp;do={R:3}&amp;{QUERY_STRING}"  />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/(common|uploads)" negate="true" />
					</conditions>
				</rule>
				<rule name="rule 21Z" stopProcessing="true">
					<match url="^market/([^/]+)/([^/]+)/?$"  />
					<action type="Rewrite" url="/market/index.php?categoria={R:1}&amp;module={R:2}&amp;do=home&amp;{QUERY_STRING}"  />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/(common|uploads)" negate="true" />
					</conditions>
				</rule>
				<rule name="rule 3Z" stopProcessing="true">
					<match url="^market/([^/]+)/([^/]+)/([^/]+)/([0-9]+)/?$"  />
					<action type="Rewrite" url="/market/index.php?categoria={R:1}&amp;module={R:2}&amp;do={R:3}&amp;id={R:4}&amp;{QUERY_STRING}"  />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/(common|uploads)" negate="true" />
					</conditions>
				</rule>
				<!-- Fim Market -->				

				<!-- INICIO NASP -->
						
				<!-- regra de retorno nasp do pagsgeuro -->
				<rule name="rule Retorno PagSeguro" stopProcessing="true">
					<match url="^nasp/([^/]+)/pagseguro.php?$"  />
					<action type="Rewrite" url="/market/nasp/pagseguro.php?cod_empresa={R:1}"  />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/(common|uploads)" negate="true" />
					</conditions>
				</rule>

				<!-- regra de retorno nasp do pagarme -->
				<rule name="rule Retorno PagarMe" stopProcessing="true">
					<match url="^nasp/([^/]+)/pagarme.php?$"  />
					<action type="Rewrite" url="/market/nasp/pagarme.php?cod_empresa={R:1}"  />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/(common|uploads)" negate="true" />
					</conditions>
				</rule>
                <!-- Fim NASP -->

				<!-- Site Estatico -->
				
				<rule name="rule Pre-Cadastro" stopProcessing="true">
					<match url="^/?$"  />
					<action type="Rewrite" url="/index.php?categoria=site&amp;module=home&amp;do=indexPre&amp;{QUERY_STRING}"  />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/(common|uploads)" negate="true" />
					</conditions>
				</rule>


				<rule name="rule Site module do 0" stopProcessing="true">
					<match url="^site/?$"  />
					<action type="Rewrite" url="/index.php?categoria=site&amp;module=home&amp;do=index&amp;{QUERY_STRING}"  />					
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/(common|uploads)" negate="true" />
					</conditions>
				</rule>

				<rule name="rule Site module do 1" stopProcessing="true">
					<match url="^sobre/index/?$"  />
					<action type="Rewrite" url="/index.php?categoria=site&amp;module=sobre&amp;do=index&amp;{QUERY_STRING}"  />					
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/(common|uploads)" negate="true" />
					</conditions>
				</rule>

				<rule name="rule Site module do 2" stopProcessing="true">
					<match url="^professor/index/?$"  />
					<action type="Rewrite" url="/index.php?categoria=site&amp;module=professor&amp;do=index&amp;{QUERY_STRING}"  />					
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/(common|uploads)" negate="true" />
					</conditions>
				</rule>

				<rule name="rule Site module do 3" stopProcessing="true">
					<match url="^instituicao/index/?$"  />
					<action type="Rewrite" url="/index.php?categoria=site&amp;module=instituicao&amp;do=index&amp;{QUERY_STRING}"  />					
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/(common|uploads)" negate="true" />
					</conditions>
				</rule>				
				<!-- Fim Site Estatico -->

				<rule name="rule Site module do 4" stopProcessing="true">
					<match url="^clientes/index/?$"  />
					<action type="Rewrite" url="/index.php?categoria=site&amp;module=clientes&amp;do=index&amp;{QUERY_STRING}"  />					
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/(common|uploads)" negate="true" />
					</conditions>
				</rule>

				<rule name="rule Site module do 5" stopProcessing="true">
					<match url="^contato/index/?$"  />
					<action type="Rewrite" url="/index.php?categoria=site&amp;module=contato&amp;do=index&amp;{QUERY_STRING}"  />					
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/(common|uploads)" negate="true" />
					</conditions>
				</rule>
				<!-- Fim Site Estatico -->






				<!-- Portal -->
				<rule name="rule Cliente" stopProcessing="true">
					<match url="^([^/]+)/?$"  />
					<action type="Rewrite" url="/index.php?cliente={R:1}&amp;categoria=portal&amp;module=home&amp;do=index&amp;{QUERY_STRING}"  />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/(common|uploads)" negate="true" />
					</conditions>
				</rule>

				<rule name="rule Portal" stopProcessing="true">
					<match url="^([^/]+)/portal/?$"  />
					<action type="Rewrite" url="/index.php?cliente={R:1}&amp;categoria=portal&amp;module=home&amp;do=index&amp;{QUERY_STRING}"  />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/(common|uploads)" negate="true" />
					</conditions>
				</rule>

				<rule name="rule Portal modules" stopProcessing="true">
					<match url="^([^/]+)/portal/([^/]+)/?$"  />
					<action type="Rewrite" url="/index.php?cliente={R:1}&amp;categoria=portal&amp;module={R:2}&amp;{QUERY_STRING}"  />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/(common|uploads)" negate="true" />
					</conditions>
				</rule>

				<rule name="rule Portal modules do" stopProcessing="true">
					<match url="^([^/]+)/portal/([^/]+)/([^/]+)/?$"  />
					<action type="Rewrite" url="/index.php?cliente={R:1}&amp;categoria=portal&amp;module={R:2}&amp;do={R:3}&amp;{QUERY_STRING}"  />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/(common|uploads)" negate="true" />
					</conditions>
				</rule>

				<rule name="rule  Cliente Portal modules do id" stopProcessing="true">
					<match url="^([^/]+)/portal/([^/]+)/([^/]+)/([^/]+)/?$"  />
					<action type="Rewrite" url="/index.php?cliente={R:1}&amp;categoria=portal&amp;module={R:2}&amp;do={R:3}&amp;parametro={R:4}&amp;{QUERY_STRING}"  />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/(common|uploads)" negate="true" />
					</conditions>
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>