
.btn {
  border: 0 !important;
}
.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}
.input-group-btn > .btn {
  position: relative;
  margin-top: -1px !important;
}
.input-group-btn > .btn + .btn {
  margin-left: 0 !important;
}
.input-group-btn > .btn:hover,
.input-group-btn > .btn:focus,
.input-group-btn > .btn:active {
  z-index: 2;
}
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
  margin-right: 0 !important;
}
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  margin-left: 0 !important;
}
/* CONFIG THEME BUTTONS */
.btn-dark {
  color: #fff;
  background-color: #000;
  box-shadow: 0 2px 0 #000;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
  color: #ffffff;
  background-color: #0e0e0e;
}
.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
  background-image: none;
}
.btn-dark.disabled,
.btn-dark[disabled],
fieldset[disabled] .btn-dark,
.btn-dark.disabled:hover,
.btn-dark[disabled]:hover,
fieldset[disabled] .btn-dark:hover,
.btn-dark.disabled:focus,
.btn-dark[disabled]:focus,
fieldset[disabled] .btn-dark:focus,
.btn-dark.disabled:active,
.btn-dark[disabled]:active,
fieldset[disabled] .btn-dark:active,
.btn-dark.disabled.active,
.btn-dark[disabled].active,
fieldset[disabled] .btn-dark.active {
  background-color: #222222;
}
.btn-dark .badge {
  color: #222222;
  background-color: #ffffff;
}
.btn-success {
  color: #ffffff;
  background-color: #84c135;
  box-shadow: 0 2px 0 #777;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #000;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #84c135;
}
.btn-success .badge {
  color: #84c135;
  background-color: #ffffff;
}
/* CONFIG FORM */
.form-control {
  box-shadow: none !important;
  border: 2px solid #cccccc;
}
.form-control:focus {
  border-color: #000 !important;
}
.input-group .form-control {
  border: 2px solid #cccccc;
  border-right: 0;
}
/* CONFIG THEME PANEL */
.panel-dark {
  border-color: #cccccc;
}
.panel-dark > .panel-heading {
  color: #ffffff;
  background-color: #222222;
  border-color: #000;
}
.panel-dark > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #cccccc;
}
.panel-dark > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #cccccc;
}
.media-object {
  border-radius: 4px;
}
body {
  background: #ffffff;
  color: #666666;
}
.bar-top {
  width: 100%;
  background-color: #ccc;
  border-bottom: 1px solid #cccccc;
  padding: 10px 0;
}
.bar-top .btn {
  padding: 6px 22px;
}
.bar-top .registre {
  padding: 6px 0;
  color: green;
}
.bar-top .registre:hover b {
  color: #222222;
}
.bar-top .user {
  padding: 6px 0;
  color: #666666;
  float: left;
}
/* HEADER */
.header {
  height: auto;
  padding: 30px 0;
}
.logo {
  width: 100%;
  height: 110px;
  border: 3px dotted #cccccc;
  border-radius: 6px;
}
.logo figure {
  width: auto;
  height: 99px;
  margin: 2px auto !important;
  display: table;
}
.logo figure img {
  height: 99px;
}
/* MENU */
.menu {
  margin: 40px 0;
  border-radius: 6px;
  overflow: hidden;
}
.menu .btn {
  font-size: 15px !important;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;
  color: #999999;
  font-weight: bold;
}
.menu .btn:hover {
  color: #222222;
}
@media (min-width: 320px) and (max-width: 768px) {
  .menu {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .menu .btn {
    width: 100% !important;
    float: left;
  }
}
/* NAVBAR */
.navbar-menu {
  background-color: #000;
  border: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
}
.navbar-menu li a {
    color: #fff;
}
.navbar-menu li:hover a {
  background-color: #333;
}
.navbar-menu .navbar-toggle {
  border-color: #ffffff;
}
.navbar-menu .navbar-toggle:hover,
.navbar-menu .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-menu .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-menu .navbar-toggle:hover .icon-bar {
  background-color: #222222;
}
.navbar-menu .navbar-toggle:active .icon-bar {
  background-color: #222222;
}
.navbar-menu .navbar-toggle:focus .icon-bar {
  background-color: #222222;
}
/* SEARCH / CART */
.bar-search-cart {
  width: 100%;
  background-color: #ccc;
  border-bottom: 1px solid #cccccc;
  padding: 10px 0;
}

.bar-search-cart .pull-right {
    color: green;    
}

/* SLIDER */
.carousel {
  overflow: hidden;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* INÍCIO - BANNER ALTERAÇÕES 31.07.15 */
.carousel .carousel-inner img {
    width: 1170px;
    min-height: 280px;
    max-height: 280px;  
}
/* FIM - BANNER ALTERAÇÕES 31.07.15 */

.carousel-indicators li {
  background-color: transparent;
  border-color: #222222;
}
.carousel-indicators .active {
  background-color: #222222;
}
.carousel-control {
  width: 80px;
}
.carousel-control.left {
  background-color: #cccccc !important;
}
.carousel-control.right {
  left: auto;
  right: 0;
  background-color: #cccccc !important;
}
.carousel-control span {
  font-size: 30px;
  font-weight: lighter;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .fa-chevron-left,
.carousel-control .fa-chevron-right {
  position: absolute;
  top: 45%;
  z-index: 5;
  display: inline-block;
}
.carousel-control .icon-prev,
.carousel-control .fa-chevron-left {
  left: 36%;
}
.carousel-control .icon-next,
.carousel-control .fa-chevron-right {
  right: 36%;
}
/* BOX */
.thumbnail {
  padding: 0;
  border-radius: 6px;
  border-color: #cccccc;
}

/* INÍCIO - BOX ALTERAÇÕES 31.07.15 */
.thumbnail img {
  background-color: #222222;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  position: relative;
  height: 121px;
  width: 261px;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .thumbnail img {
        height: 210px;
        width: 455px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .thumbnail img {
        height: 200px;
        width: 343px;
    }
}

@media (max-width: 767px) {
    .thumbnail img {
        width: 100%;
        height: 100%;
        min-height: 200px;
        max-height: 335px;
    }
}
/* FIM - BOX ALTERAÇÕES 31.07.15 */


.price {
  background-color: #84c135;
  width: auto;
  padding: 10px 20px;
  top: 63px;
  color: #ffffff;
  font-weight: bold;
  position: absolute;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.offer {
  background-color: #c13535;
}
.caption {
  background-color: #ccc;
  padding: 20px !important;
  color: green;
}
.caption h4 {
  height: 60px;
  margin-top: 0;
}
.caption h4 a {
  color: #666666;
  text-decoration: none;
}
.caption h4 a:hover {
  color: #222222;
}
.button {
  background-color: #ffffff;
  padding: 20px;
  border-top: 1px solid #cccccc;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
/* PAGE */
.page {
  margin-top: 20px;
}
.page .panel-heading {
  padding: 20px 15px;
  background-color: #000;
    color: #fff;
}
.panel-default>.panel-heading { 
  background-color: #000;
}

}
.page .panel-title {
  font-size: 30px;
}
/* CATEGORY */
.title-list-courses {
  background-color: #ffffff;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #cccccc;
}
.title-list-courses form {
  margin-top: 16px;
}
.title-list-courses form .form-group {
  margin-bottom: 0;
}
/* COURSE */
.course {
  margin-top: 20px;
}
.course h3 {
  margin-top: 0;
}
.course .panel {
  border-top: none;
  margin-top: 15px;
}
.price-end {
  font-size: 31px;
}

/* INÍCIO - MODAL CUSTOM */
.course .modal-content {    
    margin-top: 200px;
}
.course .modal-body {
  padding: 0;    
}
.course .fade.in {
  background: rgba(0, 0, 0, 0.6);    
}
/* FIM - MODAL CUSTOM */

/* SIGNATURE */
.signature h1 {
  margin-bottom: 20px;
}
.signature .month {
  font-size: 30px;
}
/* CART */
.btn-cart-checkout {
  margin-top: 7px;
}
.title-course-cart {
  margin-top: 7px;
  float: left;
}
.price-course-cart {
  margin-top: 7px;
  float: left;
}
.form-cart {
  padding: 10px;
}

/* LOGIN PAGE */
.form-login {
  max-width: 400px;
  margin-top: 20px !important;
  margin-right: auto;
  margin-left: auto;
}
/* CERTIFICATE */
.certificate h1 {
  margin-bottom: 20px;
}
.certificate p {
  font-size: 20px;
}
.certificate b {
  color: #222222;
}
/* CERTIFICATE */
.error h1 {
  margin-bottom: 20px;
  font-size: 50px;
}
.error p {
  font-size: 20px;
  margin-bottom: 20px;
}
.error b {
  color: #222222;
}
/* FOOTER */
.footer {
  width: 100%;
  border-top: 1px solid #cccccc;
}
.footer .btn-default {
  border: 1px solid #cccccc !important;
  width: 175px !important;
}
.footer .btn-dark {
  width: 40px;
}
.footer address {
  margin-bottom: 0;
  padding: 10px 0;
}
.footer-primary {
  background-color: #ccc;
  width: 100%;
    color: green;
}
.footer-primary .footer-item {
  border-right: 1px solid #cccccc;
  padding: 20px;
  height: 86px;
}
.footer-primary .footer-item b {
  margin-top: 12px !important;
  float: left;
}
.footer-primary .footer-item .btn-dark {
  padding: 10px 12px;
}
.footer-secundary {
  background-color: #000;
  width: 100%;
  padding: 20px 0;
  color: #ffffff;
}
.footer-secundary span {
  margin-top: 20px;
  font-size: 12px;
}
.footer-secundary span a {
  font-weight: bold;
  color: green;
}
.footer-secundary span a:hover {
  color: #f0f0f0;
  text-decoration: none;
}
.footer-secundary p {
  margin: 0;
}
